.contenido-principal {
  display: flex;
  justify-content: center;
  width: 100%;
}

.descripcion-contenido {
  display: flex;
  flex-wrap: wrap;
}

.datos-libro {
  width: 235px;
}

.descripcion-libro, .contenido-libro {
  width: 243px;
  padding: 0 .5em;
}

@media screen and (max-width: 768px) {

  .decripcion-contenido {
    width: 100%;
  }

  .datos-libro, .descripcion-libro, .contenido-libro {
    width: 420px
  }

  .contenido-libro ul {
    display: flex;
    padding: 0;
  }

  .contenido-libro ul li {
    width: 150px;
    list-style: none;
  }
}

@media screen and (max-width: 320px) {

  .contenido-principal {
    display: inline-table;
  }

  .datos-libro, .descripcion-libro, .contenido-libro {
    width: 100%
  }

  .contenido-libro ul {
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
  }

  .contenido-libro ul li {
    width: 100%;
    list-style: disc;
  }
}